/* Home Content Styles */
.home-content {
    padding: 4rem 0;  /* Adjust padding as needed */
    background-color: #fff;  /* White background */
  }

  /* Hero Section Styles */
  .hero {
    text-align: center;  /* Center content in Hero section */
  }

  .hero h1 {
    font-size: 2.5rem;  /* Adjust heading size */
    margin-bottom: 1rem;  /* Add some space below the heading */
  }

  .hero button {
    margin-top: 1rem;  /* Add space above the button */
    background-color: #007bff;  /* Adjust button color based on brand */
    color: #fff;  /* White text color */
  }

  /* Benefits Section Styles */
  .benefit-item {
    margin-bottom: 1rem;  /* Space between benefit items */
    display: flex;  /* Align icons and text in a row */
    align-items: center;  /* Vertically center content */
  }

  .benefit-item i {
    margin-right: 1rem;  /* Space between icon and text */
    color: #007bff;  /* Adjust icon color based on brand */
  }

  .benefit-item p {
    font-size: 1rem;  /* Adjust text size */
  }
